@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
	--primary-color: #374151;
	--secondary-color: #6366F1;
}

body {
	margin: 0px;
	font-family: 'Roboto Slab', serif;
}

.hr {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}

/*cotainers*/
.container {
	padding: 0rem 2rem;
}
.container-center {
	max-width: 600px;
	margin: auto;
}

/*navigation*/
.navigation {
	background-color: var(--primary-color);
	border-bottom-left-radius: 1rem;
	color: white;
	padding: 2rem 2rem;
}
.navigation .nav-brand {
	font-weight: bold;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
.navigation .nav-pills {
	text-align: right;
	margin-bottom: 0px;
}
.navigation .nav-link {
	border: 2px solid white;
	color: white;
	border-radius: 0.5rem;
	padding: 0.1rem 0.5rem;
	text-decoration: none;
}
.navigation .link-active {
	border: 2px solid white;
	border-radius: 0.5rem;
	background-color: white;
	color: var(--primary-color);
}


/*header*/
.hero {
	padding: 4rem 0rem;
}
.hero .hero-image {
	width: 250px;
	display: block;
	margin: auto;
	padding-top: 3rem;
}
.hero .hero-heading {
	color: rgb(88, 88, 88);
	padding: 1rem;
	text-align: center;
}
.hero .hero-description {
	padding: 0rem 4rem;
}
.hero .hero-heading .hero-heading-span {
	color: var(--primary-color);
}

/*sections*/
.section {
	padding: 2rem;
}
.section h2 {
	text-align: center;
}
.ow {
	background-color: #E5E7EB;
	max-width: 600px;
	margin: auto;
	border-radius: 2rem;
}

/*link*/
.link {
	padding: 0.5rem 0.5rem;
	text-decoration: none;
}
.link-primary {
	padding: 0.5rem 1rem;
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	color: white;
	border-radius: 0.5rem;
}
.link-secondary {
	padding: 0.5rem 1rem;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	border-radius: 0.5rem;
}
.link-centered {
	text-align: center;
}
.link-extra-padded {
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
}

/*list*/
.list-non-bullet {
	list-style: none;
}
.list-non-padding-start {
	padding-inline-start: 0px;
}
.list-item-inline {
	display: inline;
	padding: 0rem 1rem;
}
.list-item-spanText {
	font-weight: bold;
}

/*footer*/
.footer {
	background-color: var(--primary-color);
	color: white;
	padding: 2rem 1rem;
	text-align: center;
	border-top-right-radius: 1rem; 
}
.footer .icon{
	width: 30px;
}



.project-title {
	font-weight: bold;
}

.hover-exists a:hover {
	border: 2px solid var(--secondary-color);
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	color: white;
}

nav a:hover {
	border: 2px solid var(--secondary-color);
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	color: white;
}

.section:hover .title{
	color: var(--secondary-color);
}
.hero:hover .title{
	color: var(--secondary-color);
}

.make-flex {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}

.make-flex a {
	margin: 0.5rem;
}